<body>
  <div class="container">
    <img src="../../assets/images/Organizza il tuo evento.png" alt="intestazione" class="heading-img">
  </div>
  <hr style="color: #90FFDC">
  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet rem repudiandae assumenda nisi asperiores earum quis ullam fuga
      harum dolor ipsa quia, possimus voluptates suscipit maiores modi consectetur neque cumque!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis hic quasi voluptatibus sed, libero magni perspiciatis exercitationem tenetur incidunt.
      Inventore, laborum possimus earum fugiat ipsa magnam sed assumenda velit quia!
    </p>
    <img src="../../assets/images/evento.png" alt="" class="eventi-img">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet rem repudiandae assumenda nisi asperiores earum quis ullam fuga
      harum dolor ipsa quia, possimus voluptates suscipit maiores modi consectetur neque cumque!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis hic quasi voluptatibus sed, libero magni perspiciatis exercitationem tenetur incidunt.
      Inventore, laborum possimus earum fugiat ipsa magnam sed assumenda velit quia!
    </p>
  </div>
  <hr style="color: #90FFDC">
</body>
