<body>
  <div class="container">
    <div class="title">
      <h1>Le nostre foto</h1>
      <hr style="color: #90FFDC">
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="../../assets/galleria/photo1.jpg" class="gallery-img">
        <img src="../../assets/galleria/photo2.jpg" class="gallery-img">
        <img src="../../assets/galleria/photo3.jpg" class="gallery-img">
        <img src="../../assets/galleria/photo4.jpg" class="gallery-img">
        <img src="../../assets/galleria/photo5.jpg" class="gallery-img">
        <img src="../../assets/galleria/photo6.jpg" class="gallery-img">
        <img src="../../assets/galleria/photo7.jpg" class="gallery-img">
        <img src="../../assets/galleria/photo8.jpg" class="gallery-img">
        <img src="../../assets/galleria/photo9.jpg" class="gallery-img">
      </div>
    </div>
  </div>
</body>
<hr style="color: #90FFDC">
