<body>
  <img src="../../assets/images/Intestazione.png" alt="intestazione" class="heading-img">
  <h1 class="text-center mt-5 mb-5">Noi siamo sempre ...</h1>
  <div class="containers text-center">
    <div class="row mt-5 mb-5">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="../../assets/images/drinks.jpg" alt="drink" class="item-img">
      </div>
      <div class="col-md-6 align-self-center">
        <h1>... alla ricerca</h1>
        <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laboriosam nihil vel dolorum quia sequi quos est provident voluptas.
          Accusantium non molestiae sunt blanditiis aliquam dicta quae iusto
          necessitatibus voluptates obcaecati.
        </p>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="../../assets/images/finger-food.jpg" alt="finger-food" class="item-img">
      </div>
      <div class="col-md-6 align-self-center">
        <h1>... verso all'innovazione</h1>
        <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laboriosam nihil vel dolorum quia sequi quos est provident voluptas.
          Accusantium non molestiae sunt blanditiis aliquam dicta quae iusto
          necessitatibus voluptates obcaecati.
        </p>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="../../assets/images/location.jpg" alt="location" class="item-img">
      </div>
      <div class="col-md-6 align-self-center">
        <h1>... in cerca dell'atmosfera</h1>
        <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laboriosam nihil vel dolorum quia sequi quos est provident voluptas.
          Accusantium non molestiae sunt blanditiis aliquam dicta quae iusto
          necessitatibus voluptates obcaecati.
        </p>
      </div>
    </div>
  </div>
</body>
<hr style="color: #90FFDC">
