<body>
  <div class="title">
    <h1>Contatti</h1>
  </div>
  <hr style="color: #90FFDC">
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Mix & Relax</h3>
        <h4>Cocktail Bar</h4>
        <p><i class="bi bi-geo-alt-fill"></i> Via Roma 20, Torino</p>
        <p><i class="bi bi-phone-fill"></i> 01123456789</p>
        <h5>Contattaci anche sui nostri social!</h5>
        <div class="social">
          <section class="container">
            <button data-hover="Facebook"><div><i class="bi bi-facebook"></i></div></button>
            <button data-hover="Instagram"><div><i class="bi bi-instagram"></i></div></button>
            <button data-hover="WhatsApp"><div><i class="bi bi-whatsapp"></i></div></button>
          </section>
        </div>
      </div>
      <div class="col-md-6 mb-5 mt-5">
        <google-map></google-map>
      </div>
    </div>
  </div>
  <hr style="color: #90FFDC">
</body>
